@font-face {
    font-family: map-regular;
    src: url(https://www.munich-airport.de/assets/munich-airport-pro/MAP-Rg-WOFF.woff) format("woff");
    font-weight: 500;
    font-style: normal
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0
}

#pubpix-wrapper {
    font-family: map-regular, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    font-weight: 500;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px
}

button {
    border: none;
    border-radius: 2px
}

.pubpix-flip {
    -webkit-animation: pubpix-flip .8s ease-out;
    animation: pubpix-flip .8s ease-out
}

@-webkit-keyframes pubpix-flip {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }

    15% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        opacity: .5
    }

    30% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        opacity: 0
    }

    45% {
        -webkit-transform: rotateX(-270deg);
        transform: rotateX(-270deg);
        opacity: .5
    }

    75% {
        -webkit-transform: rotateX(-380deg);
        transform: rotateX(-380deg);
        opacity: 1
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg)
    }
}

@keyframes pubpix-flip {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }

    15% {
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg);
        opacity: .5
    }

    30% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
        opacity: 0
    }

    45% {
        -webkit-transform: rotateX(-270deg);
        transform: rotateX(-270deg);
        opacity: .5
    }

    75% {
        -webkit-transform: rotateX(-380deg);
        transform: rotateX(-380deg);
        opacity: 1
    }

    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg)
    }
}

[data-pubpix_lang=de] .pubpix-svg__map-lang--en {
    display: none
}

[data-pubpix_lang=en] .pubpix-svg__map-lang--de {
    display: none
}

.pubpix-hide {
    visibility: hidden !important;
    opacity: 0 !important
}

.pubpix-show {
    visibility: visible !important;
    opacity: 1 !important
}

.pubpix-centered-container {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 2px
}

.pubpix-centered-container img {
    vertical-align: inherit !important
}

*,
:after,
:before {
    -webkit-box-sizing: unset !important;
    box-sizing: unset !important
}

hr {
    display: block !important;
    margin-top: .5em !important;
    margin-bottom: .5em !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-style: inset !important;
    border-width: 1px !important
}

label {
    margin-bottom: 0 !important
}

#pubpix-map {
    position: relative;
    z-index: 3
}

#pubpix-map__legend {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 100
}

@media (max-width:980px) {
    #pubpix-map__legend {
        display: none
    }
}

#pubpix-map__legend .pubpix-map__legend__btn {
    margin-top: 30px;
    margin-right: 20px;
    padding: 0 15px 0 15px;
    height: 28px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-family: map-regular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

#pubpix-map__legend .pubpix-map__legend__btn:first-child {
    margin-left: 12px
}

#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_category^=fastcharging] {
    background: #C1C4F1;
    color: #24293F;
}
/*
#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_category^=budget] {
    background: #F6DFC0;
    color: #24293F;
}

#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_category^=valet] {
    background: #E6C6DB;
    color: #24293F;
}
*/
#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_category^=electric] {
    background: #C3EDD5;
    color: #24293F;
}

#pubpix-map__legend .pubpix-map__legend__btn:hover[data-pubpix_category^=fastcharging] {
    background: #A6AAD1
}
/*
#pubpix-map__legend .pubpix-map__legend__btn:hover[data-pubpix_category^=budget] {
    background: #DAC8AD
}

#pubpix-map__legend .pubpix-map__legend__btn:hover[data-pubpix_category^=valet] {
    background: #C7ADC0
}
*/
#pubpix-map__legend .pubpix-map__legend__btn:hover[data-pubpix_category^=electric] {
    background: #C3EDD5;
}

#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_active=true] {
    margin-top: 26px;
    margin-right: 18px;
    margin-left: -2px;
    padding: 0 17px 2px 17px
}

#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_active=true][data-pubpix_category^=fastcharging] {
    background: #C1C4F1
}

/*#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_active=true][data-pubpix_category^=budget] {
    background: #F6DFC0
}

#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_active=true][data-pubpix_category^=valet] {
    background: #E6C6DB
}
*/
#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_active=true][data-pubpix_category^=electric] {
    background: #C3EDD5
}

#pubpix-map__legend .pubpix-map__legend__btn[data-pubpix_active=true]:first-child {
    margin-left: 10px
}

#pubpix-map__hintbox {
    opacity: 1;
    position: absolute;
    bottom: 20px;
    right: 15px;
    height: auto;
    max-height: 186px;
    max-width: 140px;
    padding: 15px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #24293F;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right;
    z-index: 101
}

@media (max-width:980px) {
    #pubpix-map__hintbox {
        display: none
    }
}

#pubpix-map__hintbox[data-pubpix_hintbox=hide] {
    -webkit-transform: scale(0);
    transform: scale(0)
}

#pubpix-map__hintbox hr {
    width: 40%;
    opacity: .4
}

#pubpix-map__hintbox img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#pubpix-map__hintbox h3 {
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #748089;
    font-size: inherit !important
}

#pubpix-map__hintbox p {
    margin: 0
}

#pubpix-map__hintbox-info-icon {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: #24293F;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    color: #fff;
    font-family: serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    -webkit-transition: width .5s, height .5s, line-height .5s, background .3s;
    transition: width .5s, height .5s, line-height .5s, background .3s;
    cursor: pointer;
    z-index: 102
}

@media (max-width:980px) {
    #pubpix-map__hintbox-info-icon {
        display: none
    }
}

#pubpix-map__hintbox-info-icon:hover {
    background: #C1C4F1
}

#pubpix-map__hintbox-info-icon[data-pubpix_hintbox=hide] {
    width: 30px;
    height: 30px;
    line-height: 30px
}

@media (min-width:980px) {
    svg#pubpix-svg__map [id^=pubpix-svg__map-p] {
        visibility: visible;
        opacity: 1;
        cursor: pointer;
        -webkit-transition: all .3s;
        transition: all .3s
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p] [class^=pubpix-svg__map-st] {
        stroke: transparent;
        stroke-width: 0;
        -webkit-transition: all .3s;
        transition: all .3s
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_bookable=no] .pubpix-svg__map-st7 {
        fill: #c8cece
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_bookable=no] .pubpix-svg__map-st1 {
        fill: #b3b9ba
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_bookable=no] .pubpix-svg__map-st15 {
        fill: #bdc2c3
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=fastcharging] .pubpix-svg__map-st7,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=fastcharging] .pubpix-svg__map-st7 {
        fill: #C1C4F1
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=fastcharging] .pubpix-svg__map-st1,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=fastcharging] .pubpix-svg__map-st1 {
        fill: #888BAC
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=fastcharging] .pubpix-svg__map-st15,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=fastcharging] .pubpix-svg__map-st15 {
        fill: #A6AAD1
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=budget] .pubpix-svg__map-st7,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=budget] .pubpix-svg__map-st7 {
        fill: #F6DFC0
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=budget] .pubpix-svg__map-st1,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=budget] .pubpix-svg__map-st1 {
        fill: #B8A791
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=budget] .pubpix-svg__map-st15,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=budget] .pubpix-svg__map-st15 {
        fill: #DAC8AD
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=valet] .pubpix-svg__map-st7,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=valet] .pubpix-svg__map-st7 {
        fill: #E6C6DB
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=valet] .pubpix-svg__map-st1,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=valet] .pubpix-svg__map-st1 {
        fill: #998493
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=valet] .pubpix-svg__map-st15,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=valet] .pubpix-svg__map-st15 {
        fill: #C7ADC0
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=electric] .pubpix-svg__map-st7,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=electric] .pubpix-svg__map-st7 {
        fill: #C3EDD5
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=electric] .pubpix-svg__map-st1,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=electric] .pubpix-svg__map-st1 {
        fill: #8CA99A
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p].pubpix-svg__map-p--filtered[data-pubpix_category^=electric] .pubpix-svg__map-st15,
    svg#pubpix-svg__map [id^=pubpix-svg__map-p][data-pubpix_active=true][data-pubpix_category^=electric] .pubpix-svg__map-st15 {
        fill: #ACD1BE
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p]:hover:not([data-pubpix_active=true]) .pubpix-svg__map-st7 {
        fill: #838e94 !important;
        stroke: #838e94 !important;
        stroke-width: 1px
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p]:hover:not([data-pubpix_active=true]) .pubpix-svg__map-st1 {
        fill: #465861 !important;
        stroke: #465861 !important;
        stroke-width: 1px
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-p]:hover:not([data-pubpix_active=true]) .pubpix-svg__map-st15 {
        fill: #5f6d73 !important;
        stroke: #5f6d73 !important;
        stroke-width: 1px
    }

    .pubpix-key_module {
        visibility: hidden
    }

    .pubpix-key_module[data-pubpix-active=true] {
        visibility: visible
    }

    .pubpix-key_module[data-pubpix-active=true] .pubpix-svg__map-stPurp {
        fill: #E6C6DB
    }

    svg#pubpix-svg__map [id^=pubpix-svg__map-sign-] {
        -webkit-transition: all .3s;
        transition: all .3s
    }

    svg#pubpix-svg__map [class=valet-keys] {
        display: none
    }

    svg#pubpix-svg__map [class=valet-keys][data-pubpix-active=true] {
        display: inline-block
    }
}

@media (max-width:980px) {
    svg#pubpix-svg__map [id^=pubpix-svg__map-sign-] {
        visibility: visible !important;
        opacity: 1 !important
    }
}

#pubpix-info {
    margin-top: 4px;
    -webkit-perspective: 2000px;
    perspective: 2000px
}

@media (max-width:980px) {
    #pubpix-info {
        display: none
    }
}

#pubpix-info [class^=pubpix-info--] {
    display: inline;
    height: auto
}

#pubpix-info [class^=pubpix-info--]>div {
    opacity: 1;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out
}

#pubpix-info__head {
    position: relative;
    opacity: 0;
    width: 100%;
    height: 94px;
    background: #f2f2f2;
    border-radius: 2px;
    margin-top: -80px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 2
}

.pubpix-info__head__indicator-arrow {
    display: inline-block;
    height: 100%;
    background: #888BAC;
    border-radius: 2px;
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    line-height: 104px;
    vertical-align: top;
    width: 22px;
    text-align: center
}

.pubpix-info__head__indicator-arrow[data-pubpix_category^=fastcharging] {
    background: #C1C4F1
}

.pubpix-info__head__indicator-arrow[data-pubpix_category^=budget] {
    background: #F6DFC0
}

.pubpix-info__head__indicator-arrow[data-pubpix_category^=valet] {
    background: #E6C6DB
}

.pubpix-info__head__indicator-arrow[data-pubpix_category^=electric] {
    background: #C3EDD5
}

.pubpix-info__head__indicator-arrow[data-pubpix_bookable^=no] {
    background: #647882
}

.pubpix-info__head__field {
    display: inline-block;
    height: 100%;
    border-right: 2px solid #ccc;
    padding: 0 30px;
    vertical-align: top
}

.pubpix-info__head__field.pubpix-info__head__field--carpark {
    width: 230px;
    font-family: map-regular, Arial, Helvetica, sans-serif
}

.pubpix-info__head__field.pubpix-info__head__field--carpark h3 {
    margin: 0;
    color: #748089;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase
}

.pubpix-info__head__field.pubpix-info__head__field--carpark h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 27px;
    padding-bottom: 4px
}

.pubpix-info__head__field .pubpix-info__head__sign {
    background: #24293F;
    width: 60px;
    height: 35px;
    border-radius: 2px;
    padding: 10px 10px 4px;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-left: -2px
}

.pubpix-info__head__field .pubpix-info__head__sign[data-pubpix_category="fastcharging"] {
    font-size: 12px;
    background: #24293F;
}

.pubpix-info__head__field .pubpix-info__head__sign[data-pubpix_cp-pos=true] {
    line-height: 20px
}

.pubpix-info__head__field .pubpix-info__head__sign span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.pubpix-info__head__field.pubpix-info__head__field--route {
    text-align: left;
    margin-left: -6px
}

.pubpix-info__head__field.pubpix-info__head__field--route .pubpix-info__head__label {
    display: inline-block;
    vertical-align: bottom;
    font-family: map-regular, Arial, Helvetica, sans-serif
}

.pubpix-info__head__field.pubpix-info__head__field--route .pubpix-info__head__label label {
    padding-left: 10px;
    color: #748089;
    font-size: 18px;
    line-height: 30px
}

.pubpix-info__head__field.pubpix-info__head__field--route .pubpix-info__head__label label span {
    padding-left: 10px;
    color: #000;
    font-weight: 700
}

.pubpix-info__head__field.pubpix-info__head__field--route .pubpix-info__head__label label img {
    padding-top: 7px
}

.pubpix-info__head__field.pubpix-info__head__field--button {
    float: right;
    border: none
}

.pubpix-info__head__field.pubpix-info__head__field--button a {
    display: inline-block;
    background: #24293F;
    padding: 11px 24px 11px 24px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-transform: uppercase;
    font-family: map-regular, Arial, Helvetica, sans-serif;
    height: 35px;
    line-height: 35px
}

@media (max-width:1028px) {
    .pubpix-info__head__field.pubpix-info__head__field--button a {
        font-size: 13px;
        padding: 5px 11px 5px 11px
    }
}

.pubpix-info__head__field.pubpix-info__head__field--button a:hover {
    background: #C1C4F1
}

.pubpix-info__head__field.pubpix-info__head__field--button--disabled {
    float: right;
    border: none
}

.pubpix-info__head__field.pubpix-info__head__field--button--disabled a {
    display: inline-block;
    background: #ccc;
    padding: 11px 24px 11px 24px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-family: map-regular, Arial, Helvetica, sans-serif;
    height: 35px;
    line-height: 35px;
    -webkit-transition: all .3s;
    transition: all .3s
}

@media (max-width:1077px) {
    .pubpix-info__head__field.pubpix-info__head__field--button--disabled a {
        font-size: 13px;
        padding: 5px 11px 5px 11px
    }
}

.pubpix-info__head__field.pubpix-info__head__field--button--disabled a:hover {
    cursor: default
}

#pubpix-info__body {
    opacity: 0;
    position: relative;
    background: #fff;
    padding: 40px 60px 48px 43px;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
    overflow: hidden;
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    z-index: 1
}

#pubpix-info__body #pubpix-info__body_intro {
    max-width: 800px;
    font-size: 16px;
    margin-bottom: 28px;
    margin-top: 0;
    font-family: map-regular, Arial, Helvetica, sans-serif
}

#pubpix-info__body .pubpix-info__body__accordion {
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    font-family: map-regular, Arial, Helvetica, sans-serif
}

#pubpix-info__body .pubpix-info__body__accordion:not(:first-of-type) {
    margin-top: 12px
}

#pubpix-info__body .pubpix-info__body__accordion>div {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: bottom
}

#pubpix-info__body .pubpix-info__body__accordion>div span {
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
    background: #000
}

#pubpix-info__body .pubpix-info__body__accordion>div span:first-of-type {
    top: 6px;
    bottom: 6px;
    width: 2px;
    left: 11px
}

#pubpix-info__body .pubpix-info__body__accordion>div span:last-of-type {
    left: 6px;
    right: 6px;
    height: 2px;
    top: 11px
}

#pubpix-info__body .pubpix-info__body__accordion-content {
    visibility: hidden;
    opacity: 0;
    max-width: 800px;
    max-height: 0;
    margin: 0;
    color: #647882;
    line-height: 20px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    font-family: map-regular, Arial, Helvetica, sans-serif
}

#pubpix-info__body [data-pubpix_acc=open] span:first-of-type,
#pubpix-info__body [data-pubpix_acc=open] span:last-of-type {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#pubpix-info__body [data-pubpix_acc=open] span:last-of-type {
    left: 50% !important;
    right: 50% !important
}

#pubpix-info__body [data-pubpix_acc=open]+.pubpix-info__body__accordion-content {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    padding: 20px 0 8px 27px
}

#pubpix-info__body [data-pubpix_acc=open]+.pubpix-info__body__accordion-content:last-of-type {
    padding: 20px 0 0 27px
}

:-ms-fullscreen,
:root #pubpix-map {
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 48.5%
}

:-ms-fullscreen svg#pubpix-svg__map,
:root #pubpix-map svg#pubpix-svg__map {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10
}

_:-ms-fullscreen,
:root #pubpix-info__head__sign {
    padding: 14px 14px 0;
    line-height: normal
}

_:-ms-fullscreen,
:root #pubpix-info__head__button a {
    padding: 10px 10px 3px
}

_:-ms-fullscreen:hover,
:root #pubpix-info__head__button a:hover {
    padding: 12px 12px 5px
}

.pubpix-svg__map-stPurp {
    fill: #E6C6DB !important;
}
